.cxx
*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
/car/src/main/assets/oculussig_*
/.cxx/
